
<h1>Cinemoon</h1>
<p>Kompanija Cinemoon osnovana je 2002. godine i ima sediste u Srbiji. Poseduje 22 bioskopa sirom zemlje, kao i 5 u Crnoj Gori, 3 u Hrvatskoj i 2 u Italiji.

    Kompanija je rasprostranjena na sledecim podrucjima: Beograd, Novi Sad, Subotica, Nis, Valjevo, Cacak, Uzice, Kraljevo, Kragujevac, Ivanjica, Sabac, Novi Pazar, Jagodina i Krusevac u Srbiji. Podgorica, Niksic i Bar u Crnoj Gori. Zagreb i Split u Hrvatskoj, a Rim i Napulj u Italiji.</p>

<h2>Istorija kompanije</h2>
<p>Prvi Cinemoon bioskop otvoren je 2. juna 2002. u Beogradu. To je bio najmoderniji bioskop u regionu. Ubrzo nakon njega, 2004. godine otvoren je najveci Cinemoon bioskop u Novom Sadu koji ubrzo postaje najpopularnije mesto za izlazak.</p>
<p>Zbog velike potraznje i posecenosti polako pocinje otvaranje bioskopa sirom zemlje. 2007. otvaraju se bioskopi u Crnoj Gori i Hrvatskoj, a zatim 2010. i u Italiji kada kompanija Cinemoon postaje najrasprostranjenija kompanija svoje vrste.</p>
<h2>Tehnologije</h2>
<p>Nasa kompanija poseduje aplikaciju pod istim nazivom Cinemoon koja je razvijena upotrebom frontend okruzenja Angular 18. Pored toga koriscene su sledece biblioteke:

<mat-list role="list">
    <mat-list-item role="listitem"> <i class="fa-solid fa-arrow-right"></i>Angular Material</mat-list-item>
    <mat-list-item role="listitem"><i class="fa-solid fa-arrow-right"></i>Sweet Alerts 2</mat-list-item>
  </mat-list>
  </p>
  <h3>Struktura aplikacije</h3>
  <p>Izvorni kod aplikacije koristi standardnu strukturu Angular projekta bez app.modules.ts datoteke koja nije potrebna upravo od verzije 18.</p>
  <p>Prikaz svih direktorijuma:
    <mat-list role="list">
        <mat-list-item role="listitem"> <i class="fa-solid fa-arrow-right"></i>src/app - Glavni direktorijum koji sadrzi sve komponente</mat-list-item>
        <mat-list-item role="listitem"><i class="fa-solid fa-arrow-right"></i>src/app - Glavni direktorijum koji sadrzi sve komponente</mat-list-item>
        <mat-list-item role="listitem"><i class="fa-solid fa-arrow-right"></i>src/services - Direktorijum koji sadrži definicije servisa neophodnih za rad aplikacije</mat-list-item>
    </mat-list>
  </p>
