<div *ngIf="filmovi" class="container search-container">
    <mat-card appearance="outlined" class="search-card">
        <mat-card-content>
            <h2>Pretrazi filmove:</h2>
            <form class="search-form">
                <mat-form-field class="search-field">
                    <mat-label>Izaberi film</mat-label>
            <mat-select [(value)]="sFilmovi">
            <mat-option [value]="fi" *ngFor="let fi of filmovi">{{fi}}</mat-option>
             </mat-select>
                </mat-form-field>
    
                    <mat-form-field class="search-field">
                        <mat-label>Izaberi zanr</mat-label>
                <mat-select  [(value)]="sZanr">
                <mat-option [value]="za" *ngFor="let za of zanrovi">{{za}}</mat-option>
                 </mat-select>
                    </mat-form-field>
              </form>
                   <mat-card-actions>
                <button mat-button type="button" (click)="doSearch()"> <i class="fa fa-solid fa-search"></i> SEARCH</button>
              </mat-card-actions>
        </mat-card-content>
    
    </mat-card>
    
    </div>
