<div class="container">
<mat-card class="example-card" appearance="outlined">
    <img mat-card-image src="https://www.itendswithus.movie/images/synopsis_poster.jpg" alt="it ends with us">
    <mat-card-content>  
      <h3>Colleen Hoover's It Ends With Us</h3>
      <h5>Pocetak prikazivanja: 08.08.2024.</h5>
      <mat-list role="list">
        <mat-list-item role="listitem">Trajanje filma: 131 minut </mat-list-item>
        <mat-list-item role="listitem">Zanr: Romance/Drama </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><i class="fa-solid fa-circle-info"></i> DETAILS</button>
      <button mat-button (click)="doMacka()"><i class="fa-solid fa-circle-check"></i> BOOK NOW</button>
    </mat-card-actions>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label><i class="fa-regular fa-thumbs-up"></i></ng-template>
      </mat-tab>
      <mat-tab>
      <ng-template mat-tab-label> <i class="fa-regular fa-thumbs-down"></i> </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <img mat-card-image src="https://s3.amazonaws.com/nightjarprod/content/uploads/sites/302/2024/08/26225426/l1175hgL5DoXnqeZQCcU3eZIdhX-scaled.jpg" alt="terrifier">
    <mat-card-content>
    <h3>Terrifier 3</h3>
    <h5>Pocetak prikazivanja: 10.10.2024.</h5>
    <mat-list role="list">
        <mat-list-item role="listitem">Trajanje filma: 125 minuta </mat-list-item>
        <mat-list-item role="listitem">Zanr: Horror/Crime </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><i class="fa-solid fa-circle-info"></i> DETAILS</button>
      <button mat-button type="button"  (click)="doMacka()"><i class="fa-solid fa-circle-check"></i> BOOK NOW</button>
    </mat-card-actions>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label><i class="fa-regular fa-thumbs-up"></i></ng-template>
      </mat-tab>
      <mat-tab>
      <ng-template mat-tab-label> <i class="fa-regular fa-thumbs-down"></i> </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <img mat-card-image src="https://m.media-amazon.com/images/M/MV5BODI4ZDFkMjMtNDhmOC00YzIzLWE5Y2YtNzAxOWUyNDc4YTU2XkEyXkFqcGc@._V1_.jpg" alt="smile">
    <mat-card-content>
    <h3>Smile</h3>
    <h5>Pocetak prikazivanja: 10.10.2024.</h5>
    <mat-list role="list">
        <mat-list-item role="listitem">Trajanje filma: 175 minuta </mat-list-item>
        <mat-list-item role="listitem">Zanr: Horror  </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><i class="fa-solid fa-circle-info"></i> DETAILS</button>
      <button mat-button (click)="doMacka()"><i class="fa-solid fa-circle-check"></i> BOOK NOW</button>
    </mat-card-actions>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label><i class="fa-regular fa-thumbs-up"></i></ng-template>
      </mat-tab>
      <mat-tab>
      <ng-template mat-tab-label> <i class="fa-regular fa-thumbs-down"></i> </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <img mat-card-image src="https://m.media-amazon.com/images/M/MV5BZTkyMGFlNzMtMTljOC00ZDMyLWE5NWItMzVjMDZmNzA2Yjc2XkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg" alt="sonic">
    <mat-card-content>
    <h3>Sonic 3</h3>
    <h5>Pocetak prikazivanja: 22.08.2024.</h5>
    <mat-list role="list">
        <mat-list-item role="listitem">Trajanje filma: 130 minuta</mat-list-item>
        <mat-list-item role="listitem">Zanr: Action/Adventure </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><i class="fa-solid fa-circle-info"></i> DETAILS</button>
      <button mat-button (click)="doMacka()"><i class="fa-solid fa-circle-check"></i> BOOK NOW</button>
    </mat-card-actions>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label><i class="fa-regular fa-thumbs-up"></i></ng-template>
      </mat-tab>
      <mat-tab>
      <ng-template mat-tab-label> <i class="fa-regular fa-thumbs-down"></i> </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <img mat-card-image src="https://s3proxygw.cineplexx.at/cms-live/asset/_default_upload_bucket/inside%20out%20rs%20446.jpg" alt="inmyhead">
    <mat-card-content>
    <h3>In My Head 2</h3>
    <h5>Pocetak prikazivanja: 10.09.2024. </h5>
    <mat-list role="list">
        <mat-list-item role="listitem">Trajanje filma: 95 minuta  </mat-list-item>
        <mat-list-item role="listitem">Zanr: Family/Comedy  </mat-list-item>
      </mat-list>      
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><i class="fa-solid fa-circle-info"></i> DETAILS</button>
      <button mat-button (click)="doMacka()"><i class="fa-solid fa-circle-check"></i> BOOK NOW</button>
    </mat-card-actions>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label><i class="fa-regular fa-thumbs-up"></i></ng-template>
      </mat-tab>
      <mat-tab>
      <ng-template mat-tab-label> <i class="fa-regular fa-thumbs-down"></i> </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <img mat-card-image src="https://slike1.blitz-cinestar.hr/Plakati/10.9.2024_11_19_31_Megalopolis556x800.jpg?preset=thumb-500" alt="megalopolis">
    <mat-card-content>
    <h3>Megalopolis</h3>
    <h5>Pocetak prikazivanja: 26.09.2024. </h5> 
    <mat-list role="list">
        <mat-list-item role="listitem">Trajanje filma: 138 minuta</mat-list-item>
        <mat-list-item role="listitem">Zanr: Sci-fi/Drama </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><i class="fa-solid fa-circle-info"></i> DETAILS</button>
      <button mat-button (click)="doMacka()"><i class="fa-solid fa-circle-check"></i> BOOK NOW</button>
    </mat-card-actions>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label><i class="fa-regular fa-thumbs-up"></i></ng-template>
      </mat-tab>
      <mat-tab>
      <ng-template mat-tab-label> <i class="fa-regular fa-thumbs-down"></i> </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <img mat-card-image src="https://m.media-amazon.com/images/M/MV5BYjQ3NWUxNDMtNGUyYS00M2E4LThmYjgtZmQ3YTU4ZWZlNTk0XkEyXkFqcGc@._V1_.jpg" alt="grof">
    <mat-card-content>
    <h3>Grof Monte Kristo</h3>
    <h5>Pocetak prikazivanja: 11.07.2024. </h5> 
    <mat-list role="list">
        <mat-list-item role="listitem">Trajanje filma: 178 minuta</mat-list-item>
        <mat-list-item role="listitem">Zanr: Adventure </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><i class="fa-solid fa-circle-info"></i> DETAILS</button>
      <button mat-button (click)="doMacka()"><i class="fa-solid fa-circle-check"></i> BOOK NOW</button>
    </mat-card-actions>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label><i class="fa-regular fa-thumbs-up"></i></ng-template>
      </mat-tab>
      <mat-tab>
      <ng-template mat-tab-label> <i class="fa-regular fa-thumbs-down"></i> </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <img mat-card-image src="https://www.garfield.movie/images/synopsis_poster.jpg" alt="garfield">
    <mat-card-content>
    <h3>The Garfield</h3>
    <h5>Pocetak prikazivanja: 24.05.2024. </h5> 
    <mat-list role="list">
        <mat-list-item role="listitem">Trajanje filma: 101 minut</mat-list-item>
        <mat-list-item role="listitem">Zanr: Family/Comedy </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><i class="fa-solid fa-circle-info"></i> DETAILS</button>
      <button mat-button (click)="doMacka()"><i class="fa-solid fa-circle-check"></i> BOOK NOW</button>
    </mat-card-actions>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label><i class="fa-regular fa-thumbs-up"></i></ng-template>
      </mat-tab>
      <mat-tab>
      <ng-template mat-tab-label> <i class="fa-regular fa-thumbs-down"></i> </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
<mat-card class="example-card" appearance="outlined">
  <img mat-card-image src="https://m.media-amazon.com/images/M/MV5BNzY0ZTlhYzgtOTgzZC00ZTg2LTk4NTEtZDllM2E2NGE5Njg2XkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg" alt="grozanja">
  <mat-card-content>
  <h3>Grozan Ja 4</h3>
  <h5>Pocetak prikazivanja: 03.07.2024. </h5> 
  <mat-list role="list">
      <mat-list-item role="listitem">Trajanje filma: 94 minuta</mat-list-item>
      <mat-list-item role="listitem">Zanr: Family/Comedy </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><i class="fa-solid fa-circle-info"></i> DETAILS</button>
    <button mat-button (click)="doMacka()"><i class="fa-solid fa-circle-check"></i> BOOK NOW</button>
  </mat-card-actions>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label><i class="fa-regular fa-thumbs-up"></i></ng-template>
    </mat-tab>
    <mat-tab>
    <ng-template mat-tab-label> <i class="fa-regular fa-thumbs-down"></i> </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<mat-card class="example-card" appearance="outlined">
  <img mat-card-image src="https://m.media-amazon.com/images/M/MV5BNTI0MjVmMWUtYTRhZC00NTI0LWE1N2EtZWM3NDBmYmJlOGE4XkEyXkFqcGc@._V1_.jpg" alt="young">
  <mat-card-content>
  <h3>Young Hearts</h3>
  <h5>Pocetak prikazivanja: 19.12.2024. </h5> 
  <mat-list role="list">
      <mat-list-item role="listitem">Trajanje filma: 97 minuta</mat-list-item>
      <mat-list-item role="listitem">Zanr: Drama </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><i class="fa-solid fa-circle-info"></i> DETAILS</button>
    <button mat-button (click)="doMacka()"><i class="fa-solid fa-circle-check"></i> BOOK NOW</button>
  </mat-card-actions>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label><i class="fa-regular fa-thumbs-up"></i></ng-template>
    </mat-tab>
    <mat-tab>
    <ng-template mat-tab-label> <i class="fa-regular fa-thumbs-down"></i> </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<mat-card class="example-card" appearance="outlined">
  <img mat-card-image src="https://m.media-amazon.com/images/M/MV5BZWNjZWUwNDgtYTM4ZC00Zjk0LTg3ZWItNGEyZmVkZTIxZDk0XkEyXkFqcGc@._V1_.jpg" alt="grozanja">
  <mat-card-content>
  <h3>Bad Boys: Ride or Die</h3>
  <h5>Pocetak prikazivanja: 07.06.2024. </h5> 
  <mat-list role="list">
      <mat-list-item role="listitem">Trajanje filma: 115 minuta</mat-list-item>
      <mat-list-item role="listitem">Zanr: Action </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><i class="fa-solid fa-circle-info"></i> DETAILS</button>
    <button mat-button (click)="doMacka()"><i class="fa-solid fa-circle-check"></i> BOOK NOW</button>
  </mat-card-actions>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label><i class="fa-regular fa-thumbs-up"></i></ng-template>
    </mat-tab>
    <mat-tab>
    <ng-template mat-tab-label> <i class="fa-regular fa-thumbs-down"></i> </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-card>
</div>
<app-search-container [filmovi]="filmovi" [zanrovi]="zanrovi"/>
